<html>
  <head>
    <style>
      body {
        background: <%= color %>
        }
      </style>
    </head>

    <p>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>

      <%= message %>
    </p>
  </body>
</html>
